* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ШАПКА НАВИГАЦИЯ */
.header {
    padding: 2% 5% 0 5%;
    background-color: #F2ECE2;
}

#deco_top {
    position: absolute;
    z-index: 0;
    left: 14%;
    top: 0;
}

.navigation_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizzeria_name {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2D1312;
}

.navi_link {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navi_link a {
    color: #2D1312;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all ease-in 10s;
}

.navi_link a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#sign_in_up {
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    background-color: #2D1312;
    padding: 1% 2%;
    border-radius: 12px;
}

/* БАННЕР */
.pizza_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0 0;
}

.pizza_banner h2 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.56px;
    text-align: center;
    margin-bottom: 2%;
}

.pizza_position {
    position: relative;

}

#leaf_zero {
    position: absolute;
    left: 25%;
    bottom: 40%;
    z-index: 0;
}

#red_bg {
    position: relative;
    z-index: 1;
    bottom: -4px;
}

#circle {
    position: absolute;
    bottom: 0;
    left: 9%;
    z-index: 2;

}

#pizza_pos {
    position: absolute;
    bottom: 0;
    left: 12%;
    z-index: 3;

}

#leaf_two {
    position: absolute;
    bottom: 40%;
    left: 100%;
    z-index: 4;
}

/* МЕНЮ  */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.menu h2 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 64px;
}

.menu p {
    color: #2D1312;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 2% 0 4% 0;
}

.menu_navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-bottom: 5%;
}

.menu_navi button {
    width: 130px;
    height: 50px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #2D1312;
    color: #2D1312;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    transition: 0.5s;
}

.menu_navi button:hover {
    background-color: #2D1312;
    color: white;
}

.menu_pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu_first_row,
.menu_second_row {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    justify-content: space-evenly;
}

.menu_first_row img,
.menu_second_row img {
    width: 260px;
    height: 260px;
}

.pizza_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 380px;
    border-radius: 35px;
    outline: 0px solid #F1D9C8;
    outline-offset: -2px;
    transition: 0.4s;
}

.pizza_card:hover {

    outline: 3px solid #F1D9C8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.pizza_card h3 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.pizza_card p {
    color: #2D1312;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

/* О НАС */
.about_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 10% 10%;
}

.about_us h2 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
}

.about_us hr {
    margin: 5% 0;
    border: 1px solid black;
    width: 900px;
}

.about_us p {
    color: #000;
    font-family: ABeeZee;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 151%;
}

.about_us_photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 660px;
}

.about_us img {
    width: 470px;
    height: 313px;
    border-radius: 15px;
}

.sec_about {
    position: relative;
}

#deco_about {
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: 0;
    width: 420px;
    height: 688px;
}

#deco_about2 {
    position: absolute;
    z-index: -1;
    bottom: 35%;
    right: 0;
    width: 418px;
    height: 512px;
}