* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ШАПКА НАВИГАЦИЯ */
.header {
    padding: 2% 5% 0 5%;
    background-color: #F2ECE2;
}

#deco_top {
    position: absolute;
    z-index: 0;
    left: 14%;
    top: 0;
}

.navigation_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pizzeria_name {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2D1312;
}

.navi_link {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navi_link a {
    color: #2D1312;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.navi_link a:hover {
    text-decoration: underline;
    text-underline-offset: 25%;
}

.header button {
    color: #2D1312;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    background-color: #00000000;
    padding: 1% 2%;
    border: 1px solid #2D1312;
    border-radius: 12px;
    transition: 0.4s;
}

.header button:hover {
    background-color: #2D1312;
    color: white;
}

/* БАННЕР */
.pizza_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 0 0 0;
}

.pizza_banner h2 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.56px;
    text-align: center;
    margin-bottom: 7%;
}

.pizza_position {
    position: relative;

}

#leaf_zero {
    position: absolute;
    left: 25%;
    bottom: 40%;
    z-index: 0;
}

#red_bg {
    position: relative;
    z-index: 1;
    bottom: -4px;
}

#circle {
    position: absolute;
    bottom: 0;
    left: 9%;
    z-index: 2;

}

#pizza_pos {
    position: absolute;
    bottom: 0;
    left: 12%;
    z-index: 3;

}

#leaf_two {
    position: absolute;
    bottom: 40%;
    left: 100%;
    z-index: 4;
}

/* ПИЦЦА */
.pizza,
.combos,
.drinks,
.desserts {
    display: flex;
    flex-direction: column;
    padding: 3% 8%;

}

.pizza_header {}

.pizza h2,
.combos h2,
.drinks h2,
.desserts h2 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
}

.pizza hr,
.combos hr,
.drinks hr,
.desserts hr {
    border: 1px solid black;
    width: 50%;
    margin: 2% 0;
}

.menu_pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu_first_row,
.menu_second_row {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.menu_first_row img,
.menu_second_row img {
    width: 260px;
    height: 260px;
}

.pizza_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 380px;
    border-radius: 35px;
    outline: 0px solid #F1D9C8;
    outline-offset: -2px;
    transition: 0.4s;
}

.pizza_card:hover {

    outline: 3px solid #F1D9C8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.pizza_card h3 {
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.pizza_card p {
    color: #2D1312;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

#showModal {
    background: none;
    border: none;
}

/* КОМБО */
#sec_combo {
    position: relative;
}

.menu_combo {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

.menu_combo img {
    width: 345px;
    height: 320px;
}

.mc_first_row,
.mc_second_row {
    display: flex;
    justify-content: space-between;
}

#mc1r {
    margin-bottom: 5%;
}

.combo_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    transition: 0.4s;
    padding: 1%;
    border-radius: 15px;
    outline: 3px solid #f1d9c800;
}

.combo_card:hover {
    outline: 3px solid #F1D9C8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.cc_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
    width: 240px;
    height: 200px;
}

.combos h3 {
    color: #000;
    text-align: center;
    font-family: "Russo One";
    font-size: 20px;
    font-weight: 400;
    line-height: 122%;
}

.combo_descr {
    color: #000;
    font-family: ABeeZee;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.combo_price {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
}

#comb0 {
    background-color: #F0E9DD;
}

#combo_deco {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 15%;
    transform: rotate(180deg);

}

/* НАПИТКИ */
.menu_drinks {
    display: flex;
    justify-content: space-between;
}

.drinks_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinks h3 {
    color: #000;
    text-align: center;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 145%;
}

.drinks p {
    color: #000;
    font-family: Russo One;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

.drinks_card {
    padding: 1%;
    outline: 3px solid rgba(0, 0, 0, 0);
    outline-offset: -3px;
    border-radius: 15px;
    transition: 0.4s;
}

.drinks_card img {
    width: 145px;
    height: 320px;
}

.drinks_card:hover {
    outline: 3px solid #F1D9C8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);

}

/* ДЕСЕРТЫ */
.desserts {
    background-color: #F1EBE2;

}

.menu_desserts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.md_first_row,
.md_second_row {
    display: flex;
    justify-content: space-between;
}

#md1 {
    margin-bottom: 5%;
}

.dessert_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    outline: 3px solid rgba(0, 0, 0, 0);
    outline-offset: -3px;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    transition: 0.4s;
}

.dessert_card:hover {
    outline: 3px solid #F1D9C8;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.dessert_card img {
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
}

#ice_cream {
    width: 240px;
}

.dessert_card h3 {
    color: #000;
    text-align: center;
    font-family: "Russo One";
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
}

.dessert_descr {
    color: #000;
    font-family: ABeeZee;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.dessert_price {
    color: #000;
    font-family: "Russo One";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

/* ФУТЕР */
.sec_footer{
    position: relative;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 2% 5%;
}

#footer_logo {
    color: #2D1312;
    font-family: "Russo One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.footer_line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.footer_links a {
    color: #2D1312;
    transition: 0.4s;
}

.footer_links a:hover {
    text-decoration: underline;
    text-underline-offset: 25%;
}

.footer_number {
    display: flex;
    justify-content: space-between;
    width: 20%;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.footer_number span {
    text-decoration: underline;
    text-underline-offset: 25%;
    margin-left: 10%;
}

#deco_footer {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 10%;
}

/* МОДАЛЬНОЕ */
.container {
    background-color: rgba(0, 0, 0, 0.554);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -150%;
    z-index: 5;
    transition: 1s;
}

.modal {
    display: flex;
    justify-content: end;
    width: 1160px;
    height: 700px;
    border-radius: 80px;
    background-color: #EEE6D9;
    overflow: hidden;
    margin: 6% auto;
    outline: 5px solid #2D1312;
    outline-offset: 10px;

}

.modal img {
    transform: translateX(-10%);
    width: 721px;
    height: 711px;
    box-shadow: 0px 0px 0px 0px black;
}

.modal_text {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-right: 5%;
    margin-top: 2%;
    align-items: flex-end;
}

.modal_header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal_header h2 {
    color: #2D1312;
    font-family: ABeeZee;
    text-align: center;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.56px;
}

.modal_header p {
    color: #000;
    font-family: ABeeZee;
    text-align: right;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.84px;
}

.modal_header hr {
    margin: 0;
    border: 1px solid black;
    width: 100%;
}

#hr_2nd {
    width: 80%;
    margin: 5% 0;
}

.modal_descr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 8% 0 10% 0;

}

.descr {
    color: #000;
    text-align: right;
    font-family: ABeeZee;
    font-size: 33px;
    font-style: italic;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 1.32px;
    width: 630px;
    height: 180px;
    margin-bottom: 10%;
}

.price {
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44%;
}

.button_line {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#button_1st {
    display: flex;
    width: 261px;
    height: 95px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #2D1312;
    background-color: #ffffff00;
    color: #2D1312;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40%;
}

#button_1st:hover {
    background: #2D1312;
    color: #ffffff;
    transition: 0.4s;
}

#button_2nd {
    display: flex;
    width: 210px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    background: #2D1312;
    color: #ffffff;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 40%;
}

#button_2nd:hover {
    border: 1px solid #2D1312;
    background-color: #ffffff00;
    color: #2D1312;
    transition: 0.4s;
}

/* МОДАЛЬНОЕ АВТОРИЗАЦИЯ  */
.modal_all {
    display: flex;
    justify-content: center;
    position: fixed;
    top: -110%;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.42);
    transition: 1s;
}

.modal_log {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #EEE6D9;
    outline: 6px solid #2D1312;
    outline-offset: 8px;
    border-radius: 50px;
    width: 28%;
    height: 600px;
    padding: 1% 0;
}

#deco1m {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

#deco2m {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
    width: 150px;
}

.header_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_modal button {
    color: #000;
    font-family: Russo One;
    font-size: 40px;
    font-weight: 400;
    border: none;
    background: none;
}

#log {
    color: #0000004b;
    font-size: 35px;
    transition: 0.8s;
}

#reg {
    transition: 1s;
}

.modal_log hr {
    border: 1px solid black;
    width: 55%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs, .inputs2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.inputs input,
.inputs2 input {
    text-align: center;
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    height: 75px;
    border: none;
    border-radius: 20px;
}

input::placeholder {
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
}

#button_sub {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 66%;
    margin: 0;
    padding: 6% 6%;
    border-radius: 15px;
    outline: 1px solid #2d131200;
    outline-offset: -1px;
    border: none;
    background-color: #2D1312;
    margin-right: 2%;
}

#button_sub:hover {
    outline: 1px solid #2D1312;
    outline-offset: -1px;
    color: #2D1312;
    background: none;
}


#close_modal {
    font-family: "Russo One";
    font-size: 15px;
    background: #2d13124e;
    color: white;
    border: none;
    padding: 5% 5%;
    border-radius: 15px;
}

#close_modal:hover {
    background-color:#2d131289;
    transition: 0.4s;
}

label {
    color: #000;
    font-family: ABeeZee;
    font-size: 32px;
    font-weight: 400;
    margin: 4% 0;
}

.buttons_ML {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
}