* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ШАПКА НАВИГАЦИЯ */
.header {
    padding: 2% 5% 0 5%;
    background-color: #F2ECE2;
}

#deco_top {
    position: absolute;
    z-index: 1;
    left: 14%;
    top: 0;
}

.navigation_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pizzeria_name {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2D1312;
}

.navi_link {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navi_link a {
    color: #2D1312;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.navi_link a:hover {
    text-decoration: underline;
    text-underline-offset: 25%;
}

#exit {
    color: #2D1312;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    background-color: #00000000;
    padding: 1% 2%;
    border: 1px solid #2D1312;
    border-radius: 12px;
    transition: 0.4s;
}

#exit:hover {
    background-color: #2D1312;
    color: white;
}

/* КОНТЕЙНЕР ТАБЛИЦЫ */
.table_cont {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 4% 10%;
    background-color: #F2ECE2;
}

.table_cont h2 {
    display: flex;
    align-items: center;
    color: #2D1312;
    font-family: ABeeZee;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.56px;
}

#head_icon {
    width: 90px;
    height: 97px;
}

#deco {
    position: absolute;
    top: 0%;
    right: 18%;
}

#deco2 {
    position: absolute;
    left: 0;
    bottom: 75%;
}

/* БЛОК ТАБЛИЦЫ */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EECAB0;
    padding: 5% 4%;
    margin: 5% 0;
}

table {
    border-collapse: collapse;
    background-color: #F2ECE2;
    width: 1085px;
    height: 940px;
    margin: 5% 0;
}

table,
th,
td {
    border: 3px solid black;
}

th,
td {
    padding: 1%;
}

th {
    color: #000;
    font-family: ABeeZee;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 200%;
}

td {
    color: #000;
    font-family: ABeeZee;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 266%;
}

#sort {
    display: flex;
    align-items: center;
    align-self: flex-end;
    color: #000;
    font-family: ABeeZee;
    font-size: 32px;
    font-weight: 400;
    line-height: 200%;
}

#sort img {
    width: 48px;
    height: 38px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.slider button {
    color: #000;
    font-family: ABeeZee;
    font-size: 24px;
    font-weight: 400;
    line-height: 266%;
    background: none;
    border: none;
}

.slider button:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* ФУТЕР */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%;
    background-color: #F0E9DD;
}

#footer_logo {
    color: #2D1312;
    font-family: "Russo One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.footer_line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.footer_links a {
    color: #2D1312;
    transition: 0.4s;
}

.footer_links a:hover {
    text-decoration: underline;
    text-underline-offset: 25%;
}

.footer_number {
    display: flex;
    justify-content: space-between;
    width: 20%;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.footer_number span {
    text-decoration: underline;
    text-underline-offset: 25%;
    margin-left: 10%;
}